{{#partial "title"}}index{{/partial}}

{{#partial "content"}}
    <div class="row">
        <div class="col-md-5">
            <div class="container ">
                <h1 class="text-warning"><strong>SQUADS:</strong></h1>
                {{#if squads}}
                    {{#each squads}}
                        <div class="card w-75">
                            <div class="card-body">
                                <h3 class="card-title text-warning"><strong class="text-warning">{{squadName}}</strong></h3>
                                <p class="card-text"><strong class="text-warning">{{squadSize}}</strong>members ,Cause: <strong class="text-warning">{{squadCause}}</strong> ,<strong class="text-warning">{{maxSize}}</strong>members max</p>
                                <a href="/squads/{{id}}" class="btn btn-outline-success">view squad</a>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                {{else}}
                    <p>No heroes yet!</p>
                {{/if}}
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <h1 class="text-warning"><strong> HEROES:</strong></h1>
                {{#if heroes}}
                    {{#each heroes}}
                        <div class="card w-75">
                            <div class="card-body">
                                <h3 class="card-title text-warning"><strong>{{heroName}}</strong></h3>
                                <p class="card-text"><strong>{{heroAge}}</strong> years old Power: <strong>{{heroPower}}</strong> Weakness: <strong>{{heroWeakness}}</strong> Squad: <strong>{{heroSquad}}</strong></p>
                            </div>
                        </div>
                        <hr>
                    {{/each}}
                {{else}}
                    <p>No heroes yet!</p>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}